.custom-progress-bar {
  height: 20px;
  background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  color: var(--text-on-accent);
  text-align: center;
  border-radius: var(--radius-s) 0 0 var(--radius-s);
}

.custom-progress-container {
  height: 20px;
  background-color: var(--color-base-35);
  border-radius: var(--radius-s);
}